@media (max-width: 768px){

  /* Header + Not only */
  .wrapper{
    max-width: 708px;
  }

  .container{
    height: 1165px;
  }

  .intro{
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    height: 1075px;
    justify-content: center;
  }


  .only_column_text{
    display: flex;
    flex-direction: column;
  }
  
  .intro_title{
    padding-top: 0px;
  }

  .intro_subtitle{
    margin-bottom: 42px;
  }

  .search_submit{
    align-self: center;
    padding: 15px 45px;
  }

  .dog_pic{
    padding-top: 100px;
    padding-left: 139px;
  }

  /* About */
  .About{
    height: 1048px;
    
  }
  .about_wrapper{
    flex-direction: column-reverse;
  }

  .about_text_wrapper{
    padding-top: 0px;
  }

}
