/* noto-serif-georgian-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Serif Georgian';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/noto-serif-georgian-v26-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  box-sizing: border-box;
}

*,*::before,*::after {
  box-sizing: inherit;
}

body {
  font-family: Georgia;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #545454;
}

img{
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

/*header styles start*/

.header_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

.header_list {
  display: flex;
  flex-wrap: wrap;
}

.header_item {
  margin-right: 35px;
}

.header_item:last-child {
  margin-right: 0px;
}

.header_link {
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  text-decoration: none;
}

.header_link:hover, header_link:active{
  color: #FAFAFA;
} 

/*Not only styles start*/

.container{
  height: 908px;
  background: url(/shelter/assets/images/Start\ screen.png) no-repeat center;
  background-size: cover;
  
}

.intro{
  padding-top: 253px;
  position: relative;
}

.intro_title{
  font-size: 44px;
  font-weight: 400;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 42px;
  
}

.intro_subtitle{
  font-size: 15px;
  font-weight: 400;
  line-height: 160%;
  color: #CDCDCD;
  margin-bottom: 42px;
}

.search_submit{
  font-size: 17px;
  font-weight: 400;
  font: inherit;
  background: rgb(241, 205, 179);
  border: 0;
  border-radius: 100px;
  font-family: Georgia;
  width: 207px;
  height: 52px;
  letter-spacing: 0.06em;
}

.search_submit:hover, search_submit:active{
  background: #c0a18a;
} 

.dog-pic{  
  position: absolute;
  top:90px;
  left: 662px;
}

/*About styles start*/

.about_wrapper{
  padding-top: 80px;
  background-color: #FFFFFF;
  background-size: cover;
  height: 588px;
  display: flex;
}

.cat_and_dog{
  padding-left: 175px;
  height: 408px;

}

.about_text_wrapper{
  padding-top: 14px;
  max-width: 430px;
  margin-left: 120px;
  flex-wrap: wrap;
  align-items:self-end;
  
}

.about_title{
  color: rgb(84, 84, 84);
  font-size: 35px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 6%;
  text-align: left;
  margin-bottom: 24.5px;
  letter-spacing: 0.06em;

}

.first{
  color: rgb(76, 76, 76);
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 160%;
  text-align: left;
  margin-bottom: 25px;
}

.second{
  color: rgb(76, 76, 76);
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 160%;
  text-align: left;
}