/* noto-serif-georgian-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Serif Georgian';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/noto-serif-georgian-v26-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,*::before,*::after {
  box-sizing: inherit;
}

body {
  font-family: Georgia;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #545454;
}

img{
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

/*header styles start*/

.header_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

.header_list {
  display: flex;
  flex-wrap: wrap;
}

.header_item {
  margin-right: 35px;
}

.header_item:last-child {
  margin-right: 0px;
}

.header_link {
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  text-decoration: none;
  font-family: Arial;
}

.header_link_border{
  font-family: Arial;
  width: 114px;
  padding-bottom: 2px;
  border-bottom: 3px solid #F1CDB3;
  font-size: 15px;
  line-height: 160%;
  color: #FAFAFA;
  text-decoration: none;
  height: 24px;
}

.header_link:hover, header_link:active{
  color: #FAFAFA;
} 

/*Not only styles start*/

.container{
  height: 908px;
  background: url(/shelter/assets/images/Start\ screen.png) no-repeat center;
  background-size: cover;
  
}

.intro{
  padding-top: 90px;
  display: flex;
  height: 818px;
}

.intro_title{
  padding-top: 163px;
  font-size: 44px;
  font-weight: 400;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 42px;
  
}

.intro_subtitle{
  width: 460px;
  color: #CDCDCD;
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 57px;
}

.search_submit{
  font-size: 17px;
  font-weight: 400;
  line-height: 130%;
  color: #292929;
  letter-spacing: 0.06em;
  text-decoration: none;

  background: #F1CDB3;
  border-radius: 100px;
  max-width: 52px;
  padding: 16px 45px 16px 45px;

}

.search_submit:hover, search_submit:active{
  background: #FDDCC4;
} 

.dog_pic{
  padding-left: 43px;
}

/*About styles start*/

.About{
  background-color: #FFFFFF;
}

.about_wrapper{
  padding-top: 80px;
  height: 588px;
  display: flex;
  flex-wrap: wrap;
}

.cat_and_dog{
  padding-left: 175px;
  height: 408px;

}

.about_text_wrapper{
  padding-top: 14px;
  max-width: 430px;
  margin: 0 auto;
  margin-left: 120px;
  flex-wrap: wrap;
  align-items:self-end;
  
}

.about_title{
  color: rgb(84, 84, 84);
  font-size: 35px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 6%;
  text-align: left;
  margin-bottom: 24.5px;
  letter-spacing: 0.06em;

}

.first{
  color: rgb(76, 76, 76);
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 160%;
  text-align: left;
  margin-bottom: 25px;
}

.second{
  color: rgb(76, 76, 76);
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 160%;
  text-align: left;
}

/*Our friends styles start*/

.Our_Friends{
  background: rgb(246, 246, 246);
}

.our_wrapper{ 
  padding-top: 80px;
  height: 877px;
  position: relative;
}

.our_title{
  color: rgb(84, 84, 84);
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 6%;
  text-align: center;
  margin-bottom: 60px;
  letter-spacing: 0.06em;
}

.our_blocks{
  display: flex;
  align-items: flex-start;
  margin-bottom: 60px;
}

.our_cards{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 90px;
  
}

.our_card{
  background: rgb(250, 250, 250);
  width: 270px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 9px;

}

.our_card:hover, our_card:active{
  box-shadow: 0px 1px 2px rgb(237 236 236), 
            0px 2px 4px rgb(237 236 236), 
            0px 4px 8px rgb(237 236 236), 
            0px 8px 16px rgb(237 236 236);
}

.button_arrow1{
  display: flex;
  align-items: center; 
  justify-content: center;
  align-self: center;

  width: 52px;
  height: 52px;

  border: 2px solid rgb(241, 205, 179);
  border-radius: 100px;
  margin-right: 53px;
}

.button_arrow1:hover, button_arrow1:active{
  background: #FDDCC4;
  border: #FDDCC4;
} 

.button_arrow2{
  display: flex;
  align-items: center; 
  justify-content: center;
  align-self: center;

  width: 52px;
  height: 52px;

  border: 2px solid rgb(241, 205, 179);
  border-radius: 100px;
  margin-left: 53px;
}

.button_arrow2:hover, button_arrow2:active{
  background: #FDDCC4;
  border: #FDDCC4;

} 

.our_pic_pet{
  margin-bottom: 30px;
  
}

.our_name_pet{
  color: rgb(84, 84, 84);
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  letter-spacing: 0.06em;

}

.our_info_button{
  width: 187px;
  height: 52px;
  display: flex;
  align-items: center; 
  justify-content: center;

  background-color: rgb(246, 246, 246);
  border: 2px solid rgb(241, 205, 179);
  border-radius: 100px;
  
  color: rgb(41, 41, 41);
  font-family: Georgia;

  font-size: 17px;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 30px;
  letter-spacing: 0.06em;


}

.our_info_button:hover, our_info_button:active{
  background: #FDDCC4;
  border: #FDDCC4;

} 

.last_button{
  display: flex;
  justify-content: center;
  width: 262px;
  margin: 0 auto;
  color: rgb(41, 41, 41);

  border-radius: 100px;

  background: rgb(241, 205, 179);

  letter-spacing: 0.06em;
  font-size: 17px;
  font-weight: 400;
  line-height: 130%;
  color: rgb(41, 41, 41);
  
  padding: 15px 45px 15px 45px;
  text-decoration: none;

}

.last_button:hover, last_button:active{
  background: #FDDCC4
} 

/*Help styles start */

.Help{
  background-color: rgb(255, 255, 255);
  padding-top: 80px;
  height: 611px;
  max-width: 1026px;
  margin: 0 auto;
}

.help_title{
  text-align: center;
  margin: 0 auto;
  color: rgb(84, 84, 84);
  font-size: 35px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  margin-bottom: 60px;
}

.places_cards1{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 120px;
  text-align: center;
  margin-bottom: 55px;
}

.help_icon{
  height: 60px;
  object-fit: cover;
  max-width: 165px;
  margin-bottom: 30px;
}

.places_card_title{
  color: rgb(84, 84, 84);
  font-size: 20px;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-align: center;
  white-space: nowrap;
}

.places_cards2{
  max-width: 856px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 120px;
  text-align: center;
}

/* In addition styles start */

.In_addition{
  background: rgb(246, 246, 246);
}

.addition_wrapper{
  max-width: 915px;
  margin: 0 auto;
  height: 462px;
  padding-top: 80px;
  display: flex;
  
}

.orange_dog{
  padding-top: 11px;
  width: 100%;
  height: 272px;

}

.addition_text_wrapper{
  max-width: 380px;
  margin: 0 auto;
  margin-left: 30px;
  flex-wrap: wrap;

}

.addition_title{
  color: rgb(84, 84, 84);
  font-size: 35px;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 20px;
  letter-spacing: 0.06em;
}

.addition_subtitle{
  color: rgb(84, 84, 84);
  font-size: 15px;
  font-weight: 400;
  line-height: 110%;
  margin-bottom: 20px;
  letter-spacing: 0.06em;
}

.credit_card{
  background: transparent url(/shelter/assets/icons/credit-card.svg) no-repeat left 15px center;
  border-radius: 9px;
  width: 350px;
  height: 43px;
  padding: 10px 15px 10px 60px;
  background-color: #F1CDB3;
  color: rgb(84, 84, 84);
  font-size: 20px;
  font-weight: 400;
  line-height: 115%;
  margin-bottom: 20px;
  letter-spacing: 0.06em;

}

.addition_info{
  color: rgb(178, 178, 178);
  font-family: Arial;
  font-style: italic;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  width: 380px;
}

/* footer styles start */

footer{
  height: 350px;
  background: url(/shelter/assets/images/Footer.png) no-repeat center;
  background-size: cover;
  padding-top: 40px;
}

.columns{
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.styles_icons{
  color: rgb(241, 205, 179);
  font-size: 20px;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
}

.first_column{
  margin-right: 160px;
}


.questions{
  padding-top: 16px;
  margin-bottom: 40px;
  color: rgb(255, 255, 255);
  font-size: 35px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.email{
  background: transparent url(/shelter/assets/icons/mail.svg) no-repeat left center;
  padding-left: 60px;
  margin-bottom: 40px;
  height: 32px;
}

.telephone{
  background: transparent url(/shelter/assets/icons/icon-phone.svg) no-repeat left bottom;
  padding-left: 60px;
  height: 32px;
}

.visit{
  padding-top: 16px;
  margin-bottom: 34px;
  color: rgb(255, 255, 255);
  font-size: 35px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  width: 270px;
}

.first_location{
  background: transparent url(/shelter/assets/icons/icon-marker.svg) no-repeat left center;
  padding-left: 42px;
  margin-bottom: 32px;
  height: 46px;
}

.second_location{
  background: transparent url(/shelter/assets/icons/icon-marker.svg) no-repeat left center;
  padding-left: 42px;
  height: 32px;
}

.footer_orange_dog{
  margin-left: auto;
}